@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:Noto Sans;
}


body{
    padding:20px 20px;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.currency-converter{
    width:500px;
    display:flex;
    flex-direction:column;
}
.currency-converter h3{
    font-size:30px;
    margin:20px 0;
}

.currency-converter input{
    width:100%;
    outline:none;
    border:none;
    padding:15px 20px;
    font-size:18px;
    font-weight:400;
    box-shadow:inset 1px 1px 10px gray;
    border-radius:5px;
}

.select-div{
    display:flex;
    justify-content: center;
    align-items:center;
    margin:20px 0;
    border:1px solid #000;
    border-radius:5px;
}
.select-div img{
    height:45px;
    width:50px;
}
.select-div select{
    outline:none;
    border:none;
}
p{
    text-align:center;
    margin:20px 0;
}

button{
    padding:15px 0;
    outline:none;
    border:none;
    border-radius:5px;
    background:rgb(165, 50, 50);
    color:#fff;
    font-size:18px;
}

label{
  font-size:20px;
  padding:10px 0;
}


@media(max-width=500px){
    .currency-converter{
        width:100%;
    }
}